<div class="background">
  <div class="p-20 m-50 container">
    <h1 class="text-center header">Company Tool Tracker</h1>
    <div class="pb-2">
      <div class="d-flex justify-content-between">
        <button mat-raised-button (click)="onAddEdit()">Add</button>
        <button mat-raised-button (click)="toggleTableRows()">
          Expand All
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="dataofCompanies" multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type of Industry</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="contacts">
        <th mat-header-cell *matHeaderCellDef>Contacts</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-button
            href="javascript:void()"
            (click)="element.isExpanded = !element.isExpanded"
            >View Contacts</a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
          <i
            i-bs
            [ngClass]="{
              statusResearching: element.status === 'Researching',
              statusPendingApproval: element.status === 'Pending Approval',
              statusApproved: element.status === 'Approved',
              statusDeclined: element.status === 'Declined'
            }"
            name="circle-fill"
          ></i>
        </td>
      </ng-container>

      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-between">
            <i
              i-bs
              name="pencil"
              placement="top"
              ngbTooltip="Edit"
              (click)="editItem(element.id)"
            ></i>
            <i
              i-bs
              name="trash"
              placement="top"
              ngbTooltip="Delete"
              (click)="deleteItem(element.id)"
            ></i>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="companyColumns.length"
        >
          <div
            class="row companies-info-field"
            [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
          >
            <mat-list>
              <div mat-subheader>{{ element.name }}'s Contacts</div>
              <mat-list-item *ngFor="let employee of element.employees">
                <div mat-line>{{ employee.eName }}</div>
                <div mat-line>
                  {{ employee.ePhone }} | email: {{ employee.eEmail }}
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="companyColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: companyColumns"
        class="company-item-row"
        [class.company-expanded-row]="element.isExpanded"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="comapny-info-row"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
      aria-label="Select page of Companies"
    ></mat-paginator>
  </div>
</div>
