.background {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
}
table {
  width: 100%;
}

tr.comapny-info-row {
  height: 0;
}

tr.company-item-row:not(.company-expanded-row):hover {
  background: whitesmoke;
}

tr.company-item-row:not(.company-expanded-row):active {
  background: #efefef;
}

.company-item-row td {
  border-bottom-width: 0;
}

.companies-info-field {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
